@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);
*
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
HTML, BODY, DIV, SPAN, APPLET, OBJECT, IFRAME, H1, H2, H3, H4, H5, H6, P, BLOCKQUOTE, PRE, A, ABBR, ACRONYM, ADDRESS, BIG, CITE, CODE, DEL, DFN, EM, FONT, IMG, INS, KBD, Q, S, SAMP, SMALL, STRIKE, STRONG, SUB, SUP, TT, VAR, DL, DT, DD, OL, UL, LI, FIELDSET, FORM, LABEL, LEGEND, TABLE, CAPTION, TBODY, TFOOT, THEAD, TR, TH, TD
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	vertical-align: baseline;
}
:focus
{
	outline: 0;
}
OL, UL, LI
{
	list-style: none;
}
A
{
	text-decoration: none;
}
.clear
{
	clear: both;
}
HTML
{
	font-family: "PT Sans", Arial;
}
.content
{
	max-width: 1024px;
	margin: 0px auto;
	min-width: 800px;
	
}

.text-usual {
	font-size: 24px;	
}

.text-usual small{
	font-style: italic;
	padding-left: 30px;
}

#header
{
	min-width: 800px;
}
.top
{
	text-align: center;
	font-size: 36px;
	font-family: "PT Sans Narrow";
	height: 90px;
	padding-top: 16px;
	line-height: 80%;
}
.top strong
{
	font-family: "PT Sans", Arial;
	font-weight: bold;
	font-size: 38px;
}

.top span {
	color: rgb(147,147,147);
	font-size: 80%;
}

.banner
{
	background: url(lp_images/banner.jpg) no-repeat center top;
	height: 540px;
	padding-top: 470px;
}

.banner button {
	height: 50px;
	/*Скругленные углы*/
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.button-red {
	color: rgb(240, 240, 240);
	font-size: 20px;
	padding: 20px;
	text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: rgb(210, 20, 20);
	background: -moz-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
	background: -webkit-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
	background: -o-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
	background: -ms-linear-gradient(90deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
	background: linear-gradient(0deg, rgb(210, 20, 20) 30%, rgb(250, 20, 20) 70%);
	-webkit-box-shadow: 4px 3px 9px rgba(50, 50, 50, 0.72);
	-moz-box-shadow:    4px 3px 9px rgba(50, 50, 50, 0.72);
	box-shadow:         4px 3px 9px rgba(50, 50, 50, 0.72);
}

.button-yellow {
	color: rgb(94, 94, 94);
	font-size: 20px;
	padding: 20px;
	text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: rgb(229, 222, 18);
	background: -moz-linear-gradient(90deg, rgb(229, 222, 18) 30%, rgb(255, 255, 17) 70%);
	background: -webkit-linear-gradient(90deg, rgb(229, 222, 18) 30%, rgb(255, 255, 17) 70%);
	background: -o-linear-gradient(90deg, rgb(229, 222, 18) 30%, rgb(255, 255, 17) 70%);
	background: -ms-linear-gradient(90deg, rgb(229, 222, 18) 30%, rgb(255, 255, 17) 70%);
	background: linear-gradient(0deg, rgb(229, 222, 18) 30%, rgb(255, 255, 17) 70%);
	-webkit-box-shadow: 4px 3px 9px rgba(50, 50, 50, 0.72);
	-moz-box-shadow:    4px 3px 9px rgba(50, 50, 50, 0.72);
	box-shadow:         4px 3px 9px rgba(50, 50, 50, 0.72);
}


.button-green{
	color: rgb(28, 28, 28);
	font-size: 20px;
	padding: 20px;
	text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: rgb(44, 214, 25);
	background: -moz-linear-gradient(90deg, rgb(44, 214, 25) 30%, rgb(67, 255, 20) 70%);
	background: -webkit-linear-gradient(90deg, rgb(44, 214, 25) 30%, rgb(67, 255, 20) 70%);
	background: -o-linear-gradient(90deg, rgb(44, 214, 25) 30%, rgb(67, 255, 20) 70%);
	background: -ms-linear-gradient(90deg, rgb(44, 214, 25) 30%, rgb(67, 255, 20) 70%);
	background: linear-gradient(0deg, rgb(44, 214, 25) 30%, rgb(67, 255, 20) 70%);
	-webkit-box-shadow: 4px 3px 9px rgba(50, 50, 50, 0.72);
	-moz-box-shadow:    4px 3px 9px rgba(50, 50, 50, 0.72);
	box-shadow:         4px 3px 9px rgba(50, 50, 50, 0.72);

}
.banner_text
{
	width: 700px;
	margin: 0px auto;
	background: url(lp_images/opac.png);
	padding: 15px 15px 11px;
	border-radius: 8px;
	overflow: hidden;
}
.bt_1
{
	background-color: #FFF;
	float: left;
	width: 325px;
	border-radius: 5px;
	border-top: 4px solid #EFEFEF;
	font-size: 24px;
	padding-left: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 219px;
	padding-right: 35px;
	color: #777;
}
.bt_1 .red
{
	color: #E41515;
	font-weight: normal;
}
.t1, .t2, .t3, .t4
{
	float: left;
	font-size: 11px;
	width: 61px;
	text-align: center;
}
.end
{
	text-align: center;
	font-size: 14px;
	margin-top: 6px;
	margin-bottom: 6px;
}
.bt_2
{
	float: right;
	background-color: #FFFFFF;
	border-top: 4px solid #EFEFEF;
	border-radius: 5px;
	font-size: 21px;
	width: 336px;
	height: 135px;
	padding-left: 12px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
}
.bt_2 .green
{
	color: #34A939;
	font-weight: bold;
}

.red {
	color:#d32e3a;
}

.center{
	text-align: center;
}
.price_line
{
	font-size: 24px;
	font-weight: bold;
	padding-left: 32px;
	padding-top: 8px;
	padding-right: 24px;
}
.price
{
	background: transparent url(lp_images/price.png) no-repeat;
	width: 141px;
	height: 64px;
	float: right;
	padding-left: 31px;
	padding-top: 16px;
	display: inline;
	margin-top: -12px;
}
.popup, .popup_left
{
	display: block;
	background-color: #FBD628;
	float: right;
	width: 336px;
	margin-top: 10px;
	height: 71px;
	border-radius: 5px;
	text-align: center;
	font-size: 24px;
	color: #000000;
	font-weight: bold;
	padding-top: 20px;
	-webkit-box-shadow: 0px 4px 0px 0px rgba(240,160,40,1);
	-moz-box-shadow: 0px 4px 0px 0px rgba(240,160,40,1);
	box-shadow: 0px 4px rgba(240, 160, 40, 1);
}

#popup span{
	font-size: 18px;
}

.popup_left{
	background-color: #BBB;
	width: 325px;
	float: left;
	-webkit-box-shadow: 0px 4px 0px 0px rgba(120,120,120,1);
	-moz-box-shadow: 0px 4px 0px 0px rgba(120,120,120,1);
	box-shadow: 0px 4px rgba(120, 120, 120, 1);
}

.popup:hover
{
	background: #F3CC11;
}
.popup SPAN
{
	color: #F32B2B;
}
.conf
{
	margin-top: 6px;
	font-size: 13px;
	font-weight: bold;
}
#numbers
{
	background-color: #5E87AE;
	color: #FFFFFF;
	font-family: "PT Sans Narrow";
	overflow: hidden;
	padding-top: 15px;
	padding-bottom: 15px;
	min-width: 800px;
}
.number_item
{
	float: left;
	line-height: 1;
	font-size: 21px;
	font-weight: bold;
	width: 33%;
	text-align: left;
}

#promo {
	background-color: #df4324;
	color: #f2f688
}

.chislo
{
	float: left;
	font-size: 60px;
	font-weight: bold;
	margin-right: 21px;
}
.ni_descr {
	width: 100%;
	text-align: right;
	height: 5px;
	color: #8ec9f5
}

.ni_block
{
	overflow: hidden;
	max-width: 900px;
	margin: 0px auto;
	text-align: right;
}
.ni_last
{
	float: right;
	width: auto;
}
.ni_center
{
	margin-left: 36px;
}
#block1
{
	margin: 0px auto;
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #EDECEC;
	min-width: 800px;
}
#block1 .content
{
	width: 800px;
}
.b1
{
	background-color: #EDECEC;
}
.b1_img
{
	float: left;
	border-radius: 22px;
	overflow: hidden;
	background-color: #FFFFFF;
	height: 207px;
}
.b1i_last
{
	float: right;
}
.b1i_first
{
	margin-right: 60px;
}
.title
{
	font-size: 36px;
	font-weight: bold;
	background-color: #FFFFFF;
	padding-top: 32px;
	padding-bottom: 32px;
	min-width: 800px;
}
.title SPAN
{
	font-weight: 400;
}
.title .content
{
	padding-left: 50px;
}
#voprosu
{
	background-color: #EDECEC;
	padding-top: 40px;
	padding-bottom: 40px;
	overflow: hidden;
	font-size: 24px;
	min-width: 800px;
	color: #000000;
}
.voprosu_icon
{
	float: left;
	margin-left: 32px;
	width: 17%;
	min-width: 175px;
}
.voprosu_text
{
	float: right;
	line-height: 1.5;
	word-break: break-word;
	width: 73%;
}

.voprosu_text span, .voprosu_text strong{
	font-weight: bold;
	
}

.work_item
{
	float: left;
	width: 25%;
	text-align: center;
	font-size: 24px;
	line-height: 1.2;
}
.work_item IMG
{
	margin-bottom: 10px;
}
#work
{
	background-color: #EDECEC;
	min-width: 800px;
	overflow: hidden;
	padding-top: 40px;
	padding-bottom: 40px;
}
.nw_item
{
	width: 45%;
	float: left;
}
.nw_img
{
	text-align: center;
}
.nw_text
{
	/*[disabled]max-width:400px;*/
	margin: 25px auto 0px;
	width: 390px;
	font-size: 20px;
}
.nw_text SPAN
{
	font-weight: bold;
	font-size: 28px;
}
.nw_right
{
	float: right;
	width: 54% !important;
}
.nw_right .nw_text
{
	width: 443px !important;
}
#nowork
{
	overflow: hidden;
	background-color: #EDECEC;
	padding-top: 40px;
	padding-bottom: 40px;
	min-width: 800px;
}
#who
{
	background-color: #ECEAEB;
	overflow: hidden;
	min-width: 800px;
	padding-top: 40px;
	position: relative;
	padding-bottom: 20px;
}
.man
{
	float: left;
	width: 53%;
	position: absolute;
	max-height: 603px;
	min-height: 375px;
	height: 375px;
	bottom: 0px;
}
.man IMG
{
	width: 100%;
	max-width: 543px;
	height: auto;
	position: absolute;
	bottom: 0px;
}
.who_text
{
	font-size: 18px;
	float: right;
	width: 44%;
	height: 270px;
}

.who_text strong {
	font-weight: bold;
	
}
.name_man
{
	font-weight: bold;
	font-size: 36px;
	line-height: 120%;
}
.name_man SPAN
{
	font-size: 18px;
	font-family: Lobster;
	font-weight: 400;
}
#experts
{
	padding-top: 30px;
	min-width: 800px;
	overflow: hidden;
	padding-bottom: 30px;
}
.exp
{
	float: left;
	width: 33%;
	text-align: center;
	font-family: Lobster;
	font-size: 18px;
	color: #777;
	font-weight: bold;
}
.exp IMG
{
	display: block;
	margin: 0px auto 15px;
}
.exp_title
{
	font-size: 24px;
	margin-left: 50px;
	margin-bottom: 30px;
	font-weight: bold;
}
#slider
{
	width: 750px;
	overflow: hidden;
	/*[disabled]height:280px;*/
	margin: 0px auto;
}
#slider LI
{
	float: left;
	width: 750px;
	min-height: 300px;
}
.f_ava
{
	float: left;
}
.comment
{
	float: right;
	width: 496px;
	font-size: 18px;
}
.comm_title
{
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 18px;
}
.comm_avtor
{
	font-style: italic;
	margin-top: 17px;
}
#feed
{
	background-color: #EDECEC;
	padding-top: 40px;
	padding-bottom: 40px;
	min-width: 800px;
}
#feed .content
{
	position: relative;
}
.caroufredsel_wrapper
{
	margin: 0px auto !important;
}
.prev
{
	background: transparent url(lp_images/prev.jpg) no-repeat;
	width: 50px;
	display: block;
	height: 60px;
	top: 80px;
	position: absolute;
}
.next
{
	background: transparent url(lp_images/next.jpg) no-repeat;
	width: 50px;
	display: block;
	height: 60px;
	top: 80px;
	position: absolute;
	right: 0px;
}
.partner
{
	float: left;
	width: 14%;
	text-align: center;
	margin-bottom: 30px;
}
.partner IMG
{
	width: 99px;
	height: 100px;
}
#partners
{
	background-color: #EDECEC;
	overflow: hidden;
	padding-top: 40px;
	padding-bottom: 10px;
	min-width: 800px;
}
#footer
{
	background-color: #EDECEC;
	overflow: hidden;
	padding-top: 25px;
	min-width: 800px;
	padding-bottom: 25px;
}
#footer .popup
{
	float: left;
	width: 34%;
}
.f_text
{
	font-size: 30px;
	/*[disabled]float:right;*/
	width: 61%;
	height: 89px;
	display: table-cell;
	vertical-align: middle;
	padding-left: 10%;
}
#bottom
{
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
}
#bottom A
{
	font-size: 18px;
	float: right;
	color: #898787;
}
#bottom A:hover
{
	text-decoration: underline;
}
#popup
{
	background: #6bae5f;
	width: 560px;
	height: 280px;
	padding: 15px 26px;
	font-family: "PT Sans Narrow";
	color: #FFFFFF;
	font-size: 24px;
	display: none;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.popup_title
{
	font-family: "PT Sans Narrow";
	font-size: 34px;
	text-align: center;
	color: #E4E4E4;
	font-weight: bold;
}


.cena
{
	background: url(lp_images/cena.png) repeat;
	font-family: "PT Sans Narrow";
	width: 213px;
	height: 114px;
	margin: 10px auto 7px;
	font-size: 60px;
	font-weight: bold;
	padding-left: 47px;
	padding-top: 10px;
	color: #000000;
}

.email {
	font-family: "PT Sans Narrow";
	width: 213px;
	height: 114px;
	margin: 10px auto 7px;
	font-size: 30px;
	font-weight: bold;
	padding-left: 27px;
	padding-top: 10px;
	color: #000000;
}

.email a:link, .email a:visited, .email a:active, .email a:hover {
color:yellow;
text-decoration: none;
}

.button a:hover {
 background-color:yellow;color:blue
 }

.b_right
{
	float: right;
}
#sogl
{
	width: 520px;
	background-color: #FFFFFF;
	padding: 20px;
	display: none;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.sogl
{
	font-family: "PT Sans Narrow";
	font-size: 21px;
	color: #CCC;

}

#send-resume
{
	width: 520px;
	background-color: #cbbf4d;
	padding: 20px;
	display: none;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.send-resume
{
	font-family: "PT Sans Narrow";
	font-size: 21px;
	color: #111111;

}

.send-resume-title {
	font-family: "PT Sans Narrow";
	font-size: 34px;
	font-weight: bold;
	text-align: left;
	color: #111111;
	padding-left: 20px;
}
.countdownHolder
{
	width: 450px;
	margin: 0 auto;
	text-align: center;
	font-family: "PT Sans Narrow";
	font-size: 35px;
	color: #000000;
}
.position
{
	display: inline-block;
	height: 47px;
	overflow: hidden;
	position: relative;
	width: 29px;
	float: left;
}
.digit
{
	position: absolute;
	display: block;
	width: 30px;
	border-radius: 0.2em;
	text-align: center;
	letter-spacing: -1px;
}
.digit.static
{
}
/**
* You can use these classes to hide parts
* of the countdown that you don't need.
 */
.countDays
{
/*display:none !important;*/
	background: url(lp_images/timer.png) no-repeat;
	width: 59px;
	height: 52px;
	display: block;
	float: left;
}
.countDiv0
{
/*display:none !important;*/
}
.countHours
{
	background: url(lp_images/timer.png) no-repeat;
	width: 59px;
	height: 52px;
	display: block;
	float: left;
	margin-left: 3px;
}
.countDiv1
{
}
.countMinutes
{
	background: url(lp_images/timer.png) no-repeat;
	width: 59px;
	height: 52px;
	display: block;
	float: left;
	margin-left: 3px;
}
.countDiv2
{
}
.countSeconds
{
	background: url(lp_images/timer.png) no-repeat;
	width: 59px;
	height: 52px;
	display: block;
	float: left;
	margin-left: 3px;
}
.countDiv
{
	display: none;
	width: 16px;
	height: 1.6em;
	position: relative;
}
.countDiv:before, .countDiv:after
{
	position: absolute;
	width: 5px;
	height: 5px;
	background-color: #444;
	border-radius: 50%;
	left: 50%;
	margin-left: -3px;
	top: 0.5em;
	box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.5);
	content: '';
}
.countDiv:after
{
	top: 0.9em;
}


.text_title
{
	font-family: "PT Sans", Arial;
	font-weight: bold;
	font-size: 20px;
	
}


.form {
	position: relative;
	z-index: 20;

	margin: 0 auto;

	width: 366px;
	height: 205px;
	margin-top: 26px;

	background: url(../images/elips.png) center bottom no-repeat;
}



.form form {
	width: 340px;
	height: 255px;
	padding: 	0px;
	

	background: #ff7d54;
	border-radius: 6px;
}

.form-title {
	margin: 12px 5px 8px 5px;

	font-family: 'PT Sans Narrow', arial, sans-serif;
	font-size: 23px;
	font-weight: bold;	
}

.form fieldset {
	padding: 0;
	margin: 0;

	border: none;
}

.form input,
.form button {
	width: 400px;
	height: 60px;
	margin: 10px 0 6px 0;
	padding: 15px 15px;

	font-family: 'PT Sans', arial, sans-serif;
	font-size: 25px;

	border: none;
	border-radius: 6px;

	outline: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.form input[type="text"] {	
	color: #7f7f7f;
	box-shadow: 0 4px 0 0 #f2f2f2 inset;
}

.form button {
	font-weight: bold;
	color: #7c5e16;
	text-transform: uppercase;

	background: #ffd800;

	box-shadow: 0 1px 0 0 #ffe96e inset, 0 4px 0 0 #ffae00;
	cursor: pointer;
}

.form button:hover {
	background: #ffe000;
}

